[submodule "JobsSwiftBaseConfigDemo/SwiftDefines@Pods"]
	path = JobsSwiftBaseConfigDemo/SwiftDefines@Pods
	url = https://github.com/JobsKits/JobsSwiftBaseDefines.git
[submodule "JobsSwiftBaseConfigDemo/Extensions/Foundation@Pods"]
	path = JobsSwiftBaseConfigDemo/Extensions/Foundation@Pods
	url = https://github.com/JobsKits/Jobs.Swift.Foundation.Extensions.git
[submodule "JobsSwiftBaseConfigDemo/Extensions/MetalKit@Pods"]
	path = JobsSwiftBaseConfigDemo/Extensions/MetalKit@Pods
	url = https://github.com/JobsKits/Jobs.Swift.MetalKit.Extensions.git
[submodule "JobsSwiftBaseConfigDemo/JobsSwiftTools/JobsSwiftBaseTools@Pods"]
	path = JobsSwiftBaseConfigDemo/JobsSwiftTools/JobsSwiftBaseTools@Pods
	url = https://github.com/JobsKits/JobsSwiftBaseTools.git
[submodule "JobsSwiftBaseConfigDemo/JobsSwiftTools/JobsSwiftBlock@Pods"]
	path = JobsSwiftBaseConfigDemo/JobsSwiftTools/JobsSwiftBlock@Pods
	url = https://github.com/JobsKits/JobsSwiftBlock.git
